@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: "Poppins", sans-serif;
    scroll-behavior: smooth;
}

:root {
    --bg-color: #1f242d;
    --second-bg-color: #323946;
    --text-color: #fff;
    --main-color: #0ef;
}

body {
    background: var(--bg-color);
    color: var(--text-color);
    line-height: 1.6;
    font-size: 1.6rem;
    padding: 2rem;
}

header {
    text-align: center;
    margin-bottom: 2rem;
}

header h1 {
    font-size: 2.5rem;
    color: var(--main-color);
}

section {
    margin: 2rem 0;
}

section h2 {
    color: var(--main-color);
    font-size: 2rem;
    margin-bottom: 1rem;
}

section p, section ul li {
    font-size: 1.6rem;
    color: var(--text-color);
}

ul {
    list-style-type: none;
}

footer {
    text-align: center;
    padding: 1rem;
    background: var(--second-bg-color);
}

footer p {
    font-size: 1.4rem;
    color: var(--text-color);
}
